.about {
  position: relative;
  z-index: 6;
  background-color: $basic-blue-medium;
  background-image: url("../img/about-mobile@1x.png");
  background-position: 68% 20%;
  background-repeat: no-repeat;
  border-radius: 0 0 30px 30px;

  //Tablet
  @media (min-width: 768px) {
    background-image: url("../img/about-tablet@1x.png");
    background-position: 98% 57%;
    background-repeat: no-repeat;
  }

  //Desktop
  @media (min-width: 1440px) {
    background-image: url("../img/about-desktop@1x.png");
    background-position: 93% 101%;
    background-repeat: no-repeat;
    margin-top: -100px;
  }
}

.about__info {
  padding: 30px 50px 80px;

  //Tablet
  @media (min-width: 768px) {
    padding: 120px 75px 85px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding: 145px 130px 160px;
  }
}

.about__title {
  margin: 0;
  margin-bottom: 20px;

  //Tablet
  @media (min-width: 768px) {
    margin-bottom: 53px;
  }

  //Desktop
  @media (min-width: 1440px) {
    margin-bottom: 70px;
  }
}

.about__teaser {
  margin: 0;
  margin-top: 22px;

  //Tablet
  @media (min-width: 768px) {
    margin-bottom: 31px;
    padding-right: 318px;
  }

  //Desktop
  @media (min-width: 1440px) {
    margin-bottom: 38px;
    padding-right: 538px;
  }
}

.about__button {
  display: none;

  //Tablet
  @media (min-width: 768px) {
    display: block;
    width: 275px;
    margin-top: 54px;
  }

  //Desktop
  @media (min-width: 1440px) {
    margin-top: 82px;
  }
}
