.add-plans {
  position: relative;
  z-index: 2;
  border-radius: 30px 30px 0 0;
  margin-top: -23px;
  background-color: $special-blue-medium;
  color: $basic-blue;

  //Desktop
  @media (min-width: 1440px) {
    border-radius: 60px 60px 0 0;
    margin-top: -28px;
  }
}

.add-plans__info {
  padding: 25px 25px 60px;
  margin-bottom: 81px;

  //Tablet
  @media (min-width: 768px) {
    padding: 55px 75px 70px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding: 54px 60px 58px;
  }
}

.add-plans__slider {
  //Desktop
  @media (min-width: 1440px) {
    display: none;
  }

  &--desktop {
    display: none;
    //Desktop
    @media (min-width: 1440px) {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 92px;
      right: 214px;
    }
  }
}

.add-plans__main {
  display: flex;
  justify-content: space-between;
  margin: 8px auto 28px;
  //Tablet
  @media (min-width: 768px) {
    margin: 2px auto 55px;
  }
  //Desktop
  @media (min-width: 1440px) {
    margin: 8px 70px 63px;
  }
}

.add-plans__title {
  margin: 0;
}

.add-plans__item {
  background-color: $white;
  margin-bottom: 10px;
  border-radius: 10px;

  //Tablet
  @media (min-width: 768px) {
    margin-bottom: 40px;
    border-radius: 30px;
  }

  //Desktop
  @media (min-width: 1440px) {
    border-radius: 60px;
    margin-bottom: 42px;
  }
}

.add-plans__item:last-of-type {
  //Tablet
  @media (min-width: 768px) and (max-width: 1439px) {
    margin-top: 51px;
  }
}

.add-plans__item-main {
  position: relative;

  //Tablet
  @media (min-width: 768px) {
    display: grid;
  }
  //Desktop
  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr;
  }


  &::before {
    //Desktop
    @media (min-width: 1440px) {
      content: "";
      position: absolute;
      display: block;
      top: 3px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #e1e3e9;
    }
  }
}

.add-plans__item-info {
  padding: 22px 24px 16px;

  //Tablet
  @media (min-width: 768px) {
    padding: 48px 43px 57px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding: 98px 159px 108px;
    position: relative;
  }
}

.add-plans__item:first-of-type .add-plans__item-info {
  padding-bottom: 22px;

  //Tablet
  @media (min-width: 768px) {
    padding-bottom: 57px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding-bottom: 107px;
  }
}

.add-plans__item-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 20px;

  //Tablet
  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 35px;
  }
}

//Desktop
@media (min-width: 1440px) {
  .add-plans__item-title br {
    display: none;
  }
}

.add-plans__item-text {
  margin: 0;

  //Desktop
  @media (min-width: 1440px) {
    margin-bottom: 50px;
    padding-right: 300px;
  }
}

.add-plans__item:last-of-type .add-plans__item-text {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 79px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #e1e3e9;

    //Desktop
    @media (min-width: 1440px) {
      top: 102px;
    }
  }
}

.add-plans__item-text br {
  display: none;

  //Tablet
  @media (min-width: 768px) {
    display: block;
  }
}

.add-plans__item-input {
  margin-top: 16px;

  //Tablet
  @media (min-width: 768px) {
    margin-top: 59px;
  }

  //Desktop
  @media (min-width: 1440px) {
    margin: 0;
  }
}

.add-plans__item-checkbox {
  margin-top: 24px;

  //Tablet
  @media (min-width: 768px) and (max-width: 1439px) {
    order: 2;
    margin-top: 33px;
  }

  //Desktop
  @media (min-width: 1440px) {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    margin-top: 28px;
    align-self: center;
    justify-self: end;
  }
}

.add-plans__buttons {
  margin-top: 25px;
  display: flex;
  flex-direction: column;

  //Tablet
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  //Desktop
  @media (min-width: 1440px) {
    justify-content: space-between;
  }
}

.entertainment ~ .add-plans__buttons {
  margin-top: 14px;

  //Tablet
  @media (min-width: 768px) {
    margin-top: 17px;
    margin-bottom: -8px;
  }

  //Desktop
  @media (min-width: 1440px) {
    margin-top: 13px;
  }
}

.add-plans__button {
  font-family: "Blogger Sans", "Arial", sans-serif;
  user-select: none;

  //Tablet
  @media (min-width: 768px) {
    padding: 28px 37px;
    margin-top: 24px;
    font-size: 24px;
    align-self: baseline;
    box-sizing: content-box;
  }

  //Desktop
  @media (min-width: 1440px) {
    margin-top: 34px;
    box-sizing: border-box;
  }
}

.add-plans__item-list {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-top: 21px;

  //Tablet
  @media (min-width: 768px) {
    position: relative;
    margin-top: 75px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: -44px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #e1e3e9;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: -44px;
      bottom: -28px;
      right: 138px;
      width: 1px;
      background-color: #e1e3e9;
    }
  }

  //Desktop
  @media (min-width: 1440px) {
    position: relative;
    margin-top: 117px;
    grid-gap: 62px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: -63px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #e1e3e9;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: -63px;
      bottom: -154px;
      right: 226px;
      width: 1px;
      background-color: #e1e3e9;
    }
  }
}

.add-plans__item-countries,
.add-plans__item-countries-flag {
  display: grid;
  grid-row-gap: 21px;
  list-style: none;
  padding: 0;
  margin: 0;

  //Tablet
  @media (min-width: 768px) {
    grid-template-rows: max-content max-content max-content max-content;
    grid-row-gap: 14px;
  }
}

.add-plans__item-countries-flag {
  z-index: 1;
  //Tablet
  @media (min-width: 768px) {
    margin-left: 30px;
  }

  //Desktop
  @media (min-width: 1440px) {
    margin-left: 0;
    margin-right: 73px;
  }
}

.add-plans__item-textarea {
  margin-top: 20px;

  //Tablet
  @media (min-width: 768px) {
    padding-right: 30px;
    margin-top: 69px;
  }

  //Desktop
  @media (min-width: 1440px) {
    margin-top: 137px;
  }

  &--last {
    margin-bottom: 10px;
    margin-top: 12px;

    //Tablet
    @media (min-width: 768px) {
      margin-top: 49px;
    }
  }
}
