.add-profile {
  position: relative;
  z-index: 3;
  background-color: $basic-blue-light;
  margin-top: -30px;
  border-radius: 0 0 30px 30px;

  //Tablet
  @media (min-width: 768px) {
    margin-top: -50px;
    border-radius: 0 0 60px 60px;
  }
}

.add-profile__info {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 65px 25px 34px 50px;
  margin-bottom: 30px;


  //Tablet
  @media (min-width: 768px) {
    padding: 98px 40px 83px;
    grid-template-columns: min-content 1fr;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding: 128px 130px 185px;
  }
}

.add-profile__title {
  grid-column: 1 / span 2;
  position: relative;
  margin-right: 115px;
  margin-bottom: 53px;
  line-height: 24px;

  //Tablet
  @media (min-width: 768px) {
    text-align: center;
    margin-right: -2px;
    margin-bottom: 105px;
  }

  //Desktop
  @media (min-width: 1440px) {
    margin-bottom: 168px;
  }

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: -17px;
    right: -114px;
    width: 99px;
    height: 99px;
    background-image: url("../img/rates@1x.png");
    background-repeat: no-repeat;
    background-size: 99px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rates@2x.png");
      background-size: 100%;
    }

    //Tablet
    @media (min-width: 768px) {
      z-index: 1;
      top: 325px;
      right: 48px;
    }

    //Desktop
    @media (min-width: 1440px) {
      top: 172px;
      right: 2px;
      width: 198px;
      height: 198px;
      background-size: 198px;
    }
  }
}

.add-profile__list {
  position: relative;
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 23px;
  margin: 0;
  margin-bottom: 38px;

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: -11px;
    right: 20px;
    width: 200px;
    height: 1px;
    background-color: #e6e8f1;
    box-shadow: 0 64px 0 0 #e6e8f1, 0 132px 0 0 #e6e8f1, 0 199px 0 0 #e6e8f1;

    //Tablet
    @media (min-width: 768px) {
      top: -23px;
      left: 20px;
      width: 402px;
      height: 2px;
      box-shadow: 0 66px 0 0 #e6e8f1, 0 132px 0 0 #e6e8f1, 0 199px 0 0 #e6e8f1;
    }

    //Desktop
    @media (min-width: 1440px) {
      width: 534px;
    }
  }

  &::after {
    //Tablet
    @media (min-width: 768px) {
      content: "";
      position: absolute;
      z-index: -1;
      top: -63px;
      right: 0;
      width: 198px;
      height: 285px;
      background-color: #e2e5f2;
      border-radius: 20px;
    }

    //Desktop
    @media (min-width: 1440px) {
      top: -71px;
      right: 113px;
      width: 448px;
      height: 300px;
    }
  }

  //Tablet
  @media (min-width: 768px) {
    grid-column: 2;
    grid-gap: 46px;
    margin-bottom: 77px;
  }
}

.add-profile__item {
  display: grid;
  font-weight: 300;
  color: $special-grey;

  //Tablet
  @media (min-width: 768px) {
    grid-template-columns: max-content 1fr;
    grid-gap: 115px;
    font-size: 28px;
    padding-left: 22px;
  }

  //Desktop
  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr;
  }
}

.add-profile__number {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  grid-gap: 32px;
  list-style: none;
  margin-top: -7px;
  padding: 0;

  //Tablet
  @media (min-width: 768px) {
    grid-column: 1;
    grid-template-columns: max-content;
    grid-row: 2;
    margin-top: -23px;
    grid-gap: 2px;
  }
}

.add-profile__number-item {
  display: block;
  align-self: baseline;
  font-weight: 400;
  color: $white;
  padding: 6px 13px;
  border-radius: 25px;

  //Tablet
  @media (min-width: 768px) {
    font-size: 28px;
    padding: 22px 27px;
    border-radius: 50px;
  }

  &--1 {
    background-color: $special_orange;
  }

  &--2 {
    background-color: $special-yellow-dark;
  }

  &--3 {
    background-color: $basic-yellow;
  }
}

.add-profile__item-price {
  //Tablet
  @media (min-width: 768px) {
    justify-self: end;
    padding-right: 34px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding-right: 275px;
  }
}


.add-profile__link {
  position: relative;
  grid-column: 1 / span 2;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #132576;

  &:hover {
    opacity: 0.7;
  }

  &--down,
  &--down:hover {
    opacity: 0.3;
  }

  &::before {
    //Tablet
    @media (min-width: 768px) {
      content: "";
      position: absolute;
      display: block;
      top: -25px;
      left: 0;
      width: 68px;
      height: 68px;
      border-radius: 50px;
      background-color: $light-blue;
    }
  }

  &::after {
    //Tablet
    @media (min-width: 768px) {
      content: "";
      position: absolute;
      display: block;
      top: -2px;
      left: 25px;
      width: 68px;
      height: 68px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 21' fill='%23132576' %3E%3Cpath class='st0' d='M16.4,15.1c-0.9-1.2-2-2-3.6-2.4l-1.5,5.2c0,0.5-0.4,0.9-0.9,0.9c-0.5,0-0.9-0.4-0.9-0.9v-4.2 c0-0.6-0.5-1.1-1.1-1.1c-0.6,0-1.1,0.5-1.1,1.1v4.2c0,0.5-0.4,0.9-0.9,0.9c-0.5,0-0.9-0.4-0.9-0.9l-1.5-5.2 c-1.6,0.4-2.7,1.2-3.6,2.4C0.2,15.6,0,16.6,0,17.1c0,0.1,0,0.3,0,0.4v0.9v0.9c0,1,0.8,1.7,1.7,1.7h13.5c1,0,1.7-0.8,1.7-1.7v-0.9 v-0.9c0-0.2,0-0.3,0-0.4C17,16.6,16.8,15.6,16.4,15.1z M3.9,4.6c0,2.6,1.6,6.3,4.6,6.3c2.9,0,4.6-3.8,4.6-6.3c0-2.6-2-4.6-4.6-4.6 C6,0,3.9,2.1,3.9,4.6z'/%3E%3C/svg%3E");
      background-size: 18px;
      background-repeat: no-repeat;
    }
  }

  //Tablet
  @media (min-width: 768px) {
    font-size: 20px;
    padding-left: 90px;
  }
}
