.add-profile {
  position: relative;
  z-index: 3;
  background-color: $basic-blue-light;
  margin-top: -30px;
  border-radius: 0 0 30px 30px;
}

.add-profile__info {
  padding: 65px 50px 34px;
  margin-bottom: 30px;

  //Tablet
  @media (min-width: 768px) {
    padding: 78px 40px 83px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding: 107px 130px 183px;
  }
}

.add-profile__title {
  position: relative;
  margin-right: 115px;
  margin-bottom: 40px;

  &::after {
    content: "";
    position: absolute;
    top: -19px;
    right: -140px;
    width: 99px;
    height: 99px;
    background-image: url("../img/rates@1x.png");
    background-repeat: no-repeat;
    background-size: 99px;

    //Tablet
    @media (min-width: 768px) {
      top: 325px;
      right: 46px;
    }

    //Desktop
    @media (min-width: 1440px) {
      top: 172px;
      right: 2px;
      width: 198px;
      height: 198px;
      background-size: 198px;
    }
  }

  //Tablet
  @media (min-width: 768px) {
    text-align: center;
    margin-right: 0;
    margin-bottom: 48px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 105px;
  }
}

.add-profile__content {
  display: flex;
  justify-content: space-between;

  //Tablet
  @media (min-width: 768px) {
    margin-bottom: 18px;
  }
}

.add-profile__list {
  list-style: none;
  padding: 0;
}

.add-profile__item-price {

  //Tablet
  @media (min-width: 768px) {
    display: none;
  }

  &--separate {
    //Tablet
    @media (min-width: 768px) {
      display: inline-block;
    }
  }
}

.add-profile__list-price {
  display: none;

  //Tablet
  @media (min-width: 768px) {
    display: block;
    background-color: #e2e5f2;
    list-style: none;
    margin: 0;
    padding: 33px 33px 50px;
  }

  //Desktop
  @media (min-width: 1440px) {
    margin-right: 116px;
    padding: 33px 158px 50px;
  }
}

.add-profile__item {
  font-weight: 300;
  color: $special-grey;
  margin-bottom: 23px;

  //Tablet
  @media (min-width: 768px) {
    margin: 0;
    font-size: 28px;
    padding-top: 48px;
    padding-left: 90px;
  }

  &--price {

    //Tablet
    @media (min-width: 768px) {
      padding-bottom: 10px;
      padding-top: 35px;
      padding-left: 0;
    }
  }
}

.add-profile__link {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #132576;

  //Tablet
  @media (min-width: 768px) {
    font-size: 20px;
    padding-left: 90px;
  }
}
