.adress {
  position: relative;
  z-index: 1;
  background-color: $basic-yellow;
  margin-top: -30px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -25px;
    left: 0;
    right: 0;
    height: 27px;
    border-radius: 0 0 30px 30px;
    background-color: $basic-yellow;

    //Tablet
    @media (min-width: 768px) {
      bottom: -50px;
      height: 60px;
      border-radius: 0 0 60px 60px;
    }

    //Desktop
    @media (min-width: 1440px) {
      height: 50px;
      bottom: -40px;
    }
  }

  //Tablet
  @media (min-width: 768px) {
    margin-top: -50px;
  }
}

.adress__info {
  padding: 64px 25px 10px;

  //Tablet
  @media (min-width: 768px) {
    padding: 123px 75px 33px;
  }

  //Desktop
  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 111px 135px 20px;
  }
}

.adress__text {
  position: relative;
  margin: 0;
  margin-left: 62px;
  font-weight: 700;
  text-transform: uppercase;
  color: $basic-blue;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -62px;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: $basic-blue-dark;

    //Tablet
    @media (min-width: 768px) {
      top: -26px;
      left: -94px;
      width: 68px;
      height: 68px;
    }

    //Desktop
    @media (min-width: 1440px) {
      top: -35px;
      left: -120px;
      width: 90px;
      height: 90px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: -47px;
    width: 45px;
    height: 45px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 43' fill='%23ffd74b' %3E%3Cpath class='st0' d='M11.7,13.9c0-1.2,1-2.2,2.3-2.2s2.3,1,2.3,2.2c0,1.2-1,2.2-2.3,2.2C12.8,16.1,11.7,15.1,11.7,13.9z M14,8.1 c-3.2,0-5.9,2.6-5.9,5.8s2.6,5.8,5.9,5.8c3.2,0,5.9-2.6,5.9-5.8C19.9,10.7,17.2,8.1,14,8.1z M0,13.6c0,9.1,10.9,16.2,11.7,26.7v0.4 c0,1.2,1,2.2,2.3,2.2s2.3-1,2.3-2.2v-0.4C17.2,29.8,28,22.8,28,13.6C28,6.1,21.7,0,14,0C6.3,0,0,6.1,0,13.6z M14,4.5 c5.2,0,9.5,4.2,9.5,9.4c0,5.2-4.2,9.4-9.5,9.4s-9.5-4.2-9.5-9.4C4.5,8.7,8.8,4.5,14,4.5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 15px;

    //Tablet
    @media (min-width: 768px) {
      top: -8px;
      left: -72px;
      background-size: 24px;
    }

    //Desktop
    @media (min-width: 1440px) {
      top: -11px;
      left: -90px;
      background-size: 31px;
    }
  }

  //Tablet
  @media (min-width: 768px) {
    font-size: 28px;
    margin-left: 94px;
  }

  //Desktop
  @media (min-width: 1440px) {
    margin-left: 268px;
  }
}

.adress__button {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-top: 31px;
  padding: 17px;
  padding-right: 20px;
  text-decoration: none;
  border: 3px solid $basic-blue-medium;

  //Tablet
  @media (min-width: 768px) {
    margin-top: 66px;
    padding: 25px 35px;
  }

  //Desktop
  @media (min-width: 1440px) {
    width: 324px;
    margin: 0;
    padding: 25px 35px;
  }
}
