.button-big {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: $basic-blue;
  background-color: $basic-yellow;
  border: none;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 20px 23px;

  svg {
    transform: scale(0.8);
    fill: $basic-blue;
  }

  &:hover {
    background-color: $special-yellow-dark;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);

    svg {
      opacity: 0.3;
    }
  }

  &:focus {
    outline: none;
  }

  //Tablet
  @media (min-width: 768px) {
    font-size: 24px;
    padding: 29px 34px;
    border-radius: 20px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding: 31px 32px;
  }
}

.about .button-big {
  //Mobile only
  @media (max-width: 767px) {
    display: none;
  }
}
