.contacts {
  display: flex;

  @media (min-width: 768px) {
    display: none;
  }
}

.contacts__item {
  z-index: 1;

  &--phone {
    background-color: $special-orange;
    padding: 10px 11px;
  }

  &--mail {
    background-color: $special-yellow-dark;
    padding: 10px 11px;
  }

  &--authorization {
    background-color: $basic-yellow;
    padding: 11px 30px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
