.contacts-alt__item-link {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-yellow;

  //Tablet
  @media (min-width: 768px) {
    font-size: 28px;
  }
}

.contacts-alt__icon {
  display: inline-block;
  margin-right: 10px;
  padding: 12px;
  border-radius: 25px;
  background-color: $basic-blue-dark;
  fill: $basic-yellow;

  //Tablet
  @media (min-width: 768px) {
    margin-right: 40px;
  }
}
