.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-top: 12px;
  border-top: 1px solid #f2f2f2;

  svg {
    fill: $basic-blue-dark;
  }

  //Tablet
  @media (min-width: 768px) {
    align-self: center;
    margin-top: -30px;
    padding: 0;
    border: none;
  }

  //Desktop
  @media (min-width: 1440px) {
    margin-top: -20px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  display: inline-block;
  color: $special-grey;

  //Tablet
  @media (min-width: 768px) {
    font-size: 20px;
    margin-right: 23px;
  }
}

.copyright__link {
  display: inline-block;
  margin-top: 13px;
}
