.copyright {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 35px;
}

.copyright__text {
  display: inline-block;
  color: $special-grey;
}

.copyright__link {
  display: inline-block;
}
