.copyright {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 12px;
  border-top: 1px solid #f2f2f2;

  //Tablet
  @media (min-width: 768px) {
    padding: 0;
    border: none;
  }
}

.copyright__text {
  display: inline-block;
  color: $special-grey;

  //Tablet
  @media (min-width: 768px) {
    font-size: 20px;
    margin-right: 23px;
  }
}

.copyright__link {
  display: inline-block;
}
