.countries {
  position: relative;
  z-index: 5;
  background-color: $basic-blue-light;
  margin-top: -30px;
  border-radius: 0 0 30px 30px;

  //Tablet
  @media (min-width: 768px) {
    margin-top: -55px;
    border-radius: 0 0 60px 60px;
  }
}

.countries__info {
  display: grid;
  grid-gap: 28px;
  margin: auto;
  padding: 61px 25px 34px;

  //Tablet
  @media (min-width: 768px) {
    grid-gap: 54px;
    padding: 100px 75px 83px;
    background-image: url("../img/flags-back@1x.png");
    background-position: 92% 24%;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/flags-back@2x.png");
      background-size: 38%;
    }
  }
  //Desktop
  @media (min-width: 1440px) {
    grid-gap: 15px;
    grid-template-columns: 1fr max-content;
    column-gap: 174px;
    padding: 216px 130px 149px;
    max-width: 1180px;
    background-position: 95% 61%;
    background-size: 20%;
  }
}

.countries__info-main {
  margin-bottom: 17px;
  padding: 0 25px;

  //Tablet
  @media (min-width: 768px) {
    margin-bottom: 20px;
    padding: 0;
    padding-right: 270px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding: 0;
  }
}

.countries__title {
  margin-top: 40px;
  margin-bottom: 20px;

  //Tablet
  @media (min-width: 768px) {
    margin-bottom: 70px;
  }

  //Desktop
  @media (min-width: 1440px) {
    margin-top: 17px;
  }
}

.countries__teaser {
  //Desktop
  @media (min-width: 1440px) {
    padding-right: 108px;
  }
}

.countries__list {
  position: relative;
  display: grid;
  grid-gap: 12px;

  &::before {
    //Tablet
    @media (min-width: 768px) {
      z-index: -1;
      content: "";
      position: absolute;
      display: block;
      top: -38px;
      left: -35px;
      width: 141px;
      height: 141px;
      border-radius: 20px;
      background-color: $light-blue;
    }

    //Desktop
    @media (min-width: 1440px) {
      top: -71px;
      left: -70px;
    }
  }

  &::after {
    //Tablet
    @media (min-width: 768px) {
      z-index: 1;
      content: "";
      position: absolute;
      bottom: -41px;
      left: 0;
      width: 100%;
      height: 56%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, #edeff6 80%, #edeff6 100%);
    }
  }

  //Tablet
  @media (min-width: 768px) {
    grid-gap: 11px;
  }


  //Desktop
  @media (min-width: 1440px) {
    grid-gap: 10px;
    grid-column: 1;
    grid-row: 1 / span 2;
    min-width: 387px;
  }
}

.countries__to-all {
  display: inline-block;
  width: 100%;
  padding: 0 50px;
  margin: 0;

  //Tablet
  @media (min-width: 768px) {
    margin-top: -7px;
  }

  //Desktop
  @media (min-width: 1440px) {
    grid-column: 2;
    grid-row: 2;
    align-self: end;
    justify-self: start;
    width: 275px;
    margin: 0;
    margin-bottom: -13px;
  }
}
