.countries-filter {
  background-color: $basic-blue-medium-light;
}

.countries-filter__list:not(:first-of-type) {
  //Tablet & Desktop
  @media (min-width: 768px) {
    display: none;
  }
}

.countries-filter__list {
  padding: 0;
  list-style: none;


  //Tablet & Desktop
  @media (min-width: 768px) {
    display: flex;
    padding-left: 70px;
  }
}

.countries-filter__item {
  //Tablet
  @media (min-width: 768px) {
    margin-right: 28px;
  }
}

.countries-filter__link {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-blue-medium;
}
