.country-card {
  display: flex;
  flex-direction: column-reverse;
  min-height: 180px;

  //Tablet
  @media (min-width: 768px) {
    flex-direction: row;
    min-height: 140px;
  }
}

.country-card__pic {

  //Tablet
  @media (min-width: 768px) {
    min-height: 140px;
  }
}

.country-card__info {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -10px;
  padding: 23px;
  background-color: $white;
  order: -1;

  //Tablet
  @media (min-width: 768px) {
    margin: 0;
  }
}

.country-card__name {
  font-size: 21px;
  font-weight: 700;
  color: $black;
  margin: 0;
}

.country-card__slogan {
  font-weight: 500;
  color: $black;
  opacity: 0.3;
  margin: 0;
}

.country-card__number {
  color: $basic-blue;
  opacity: 0.3;
  margin-left: 40px;
}
