.countries {
  background-color: $basic-blue-light;

  //Desktop
  @media (min-width: 1440px) {
    display: flex;
    flex-direction: row-reverse;
  }
}

.countries__info {
  padding: 30px 50px;
  margin-bottom: 30px;

  //Tablet
  @media (min-width: 768px) {
    padding: 48px 75px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding: 55px 130px;
  }
}

.countries__title {
  margin-top: 40px;
  margin-bottom: 20px;
}

.countries__teaser {
  margin: 0;
}

.countries__list {
  display: flex;
  flex-direction: column;
  padding: 0 25px;

  //Tablet
  @media (min-width: 768px) {
    padding: 0 76px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding: 0 130px;
  }
}

.countries__to-all {
  display: inline-block;
  width: 100%;
}
