.filter-companions {
  background-color: $basic-blue-light;
}

.filter-companions__info {
  padding: 20px 25px;

  //Tablet
  @media (min-width: 768px) and (max-width: 1439px) {
    padding: 40px;
  }
}
