.filter-form {
  display: flex;
  flex-direction: column;
  background-color: $basic-yellow;
  border-radius: 20px;
  color: $basic-blue;
  box-sizing: border-box;
  padding: 25px 25px 22px;
  min-width: 270px;

  //Tablet
  @media (min-width: 768px) and (max-width: 1439px) {
    padding: 40px 18px 31px 35px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding: 45px;
    min-width: 285px;
  }
}

.filter-form__title {
  font-size: 22px;
  margin: 0;
  margin-bottom: 20px;
  letter-spacing: 0.02em;

  //Tablet
  @media (min-width: 768px) and (max-width: 1439px) {
    font-size: 30px;
    margin-bottom: 40px;
    letter-spacing: 0;
  }

  //Desktop
  @media (min-width: 1440px) {
    font-size: 30px;
    line-height: 30px;
  }
}

.filter-form__content {
  //Tablet
  @media (min-width: 768px) and (max-width: 1439px) {
    padding: 9px 0;
    border-top: 1px solid #f3c72b;
  }
}

.filter-form__item {
  margin: 0;
  padding: 11px 0 7px;

  //Tablet
  @media (min-width: 768px) and (max-width: 1439px) {
    padding: 0;
    padding-top: 29px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding: 14px 0 7px;
  }

  &--transport {
    padding-bottom: 18px;

    //Tablet
    @media (min-width: 768px) and (max-width: 1439px) {
      padding: 0;
      padding-top: 20px;
    }
  }
}
