.map {
  position: relative;
  margin-top: -30px;
  min-height: 420px;

  //Tablet
  @media (min-width: 768px) {
    min-height: 580px;
  }

  //Desktop
  @media (min-width: 1440px) {
    min-height: 584px;
  }
}

.map__pic {
  width: 100%;
}
