.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;

  //Tablet
  @media (min-width: 768px) {
    padding: 45px 40px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding: 47px 60px;
  }
}
