.plans {
  background-color: $special-blue-light;
  color: $basic-blue;
}

.plans__title {
  margin-bottom: 30px;
}

.plans__info {
  padding: 25px;

  //Tablet
  @media (min-width: 768px) {
    padding: 60px 75px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding: 60px 124px;
  }
}

.plans__item {
  background-color: $white;
  margin-bottom: 10px;
}
