.plans {
  background-color: $special-blue-light;
  color: $basic-blue;
}

.plans__title {
  margin-bottom: 30px;
}

.plans__info {
  padding: 25px;
}

.plans__item {
  background-color: $white;
  margin-bottom: 10px;
}
