.profile {
  position: relative;
  z-index: 1;
  background-color: $basic-blue-light;
  color: $basic-blue;
  margin-top: -30px;
}

.profile__info {
  display: flex;
  justify-content: space-between;
  padding: 50px 42px 0;

  //Tablet
  @media (min-width: 768px) {
    padding: 60px 75px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding: 60px 124px;
    margin-top: -161px;
  }
}

.profile__info-main {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 20px 25px 110px;

  //Tablet
  @media (min-width: 768px) {
    padding: 20px 75px 77px;
  }

  //Desktop
  @media (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.profile__button {
  flex-grow: 1;

  //Desktop
  @media (min-width: 1440px) {
    display: none;
  }
}

.profile__transport {
  //Tablet
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    order: -1;
    margin-top: -120px;
    margin-left: -26px;
    margin-bottom: 38px;
  }

  //Desktop
  @media (min-width: 1440px) {
    order: 2;
    margin: 0;
  }
}

.profile__transport-title {
  margin: 0;
  margin-top: 8px;

  //Tablet
  @media (min-width: 768px) {
    margin-top: 60px;
  }
}
