.profile {
  background-color: $basic-blue-light;
  color: $basic-blue;
}

.profile__info {
  display: flex;
  justify-content: space-between;
  padding: 20px 42px;
}

.profile__info-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 20px 42px;
}

.profile__button {
  flex-grow: 1;
}
