.promo {
  position: relative;
  margin: 0;
  background-color: $basic-blue-medium;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 42%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/globe-back-mobile@2x.jpg");
  }

  //Tablet
  @media (min-width: 768px) {
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-size: 193%;
    background-position: 50% 64%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
    }
  }

  //Desktop
  @media (min-width: 1440px) {
    background-image: url("../img/globe-back-desktop@1x.jpg");
    padding-bottom: 115px;
    background-size: 126%;
    background-position: 49% -141px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/globe-back-desktop@2x.jpg");
    }
  }
}

.promo__info {
  padding: 25px;
  padding-bottom: 0;

  //Tablet
  @media (min-width: 768px) {
    padding: 25px 40px 0;
  }

  //Desktop
  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
    max-width: 1320px;
    margin: 0 auto;
  }
}

.promo__title {
  position: relative;
  font-size: 36px;
  line-height: 40px;
  padding: 0 15px;
  text-align: center;
  padding-bottom: 238px;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    top: 125px;
    right: 23px;
    width: 192px;
    height: 255px;
    background-image: url("../img/traveller-illustration-mobile@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/traveller-illustration-mobile@2x.png");
      background-size: 100%;
    }

    //Tablet
    @media (min-width: 768px) {
      top: 244px;
      right: 71px;
      width: 372px;
      height: 451px;
      background-image: url("../img/traveller-illustration-tablet@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/traveller-illustration-tablet@2x.png");
        background-size: 100%;
      }
    }

    //Desktop
    @media (min-width: 1440px) {
      top: -53px;
      right: -9px;
      width: 431px;
      height: 640px;
      background-image: url("../img/traveller-illustration-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/traveller-illustration-desktop@2x.png");
        background-size: 100%;
      }
    }
  }

  //Tablet
  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 70px;
    padding: 0 125px;
    padding-bottom: 57px;
  }

  //Desktop
  @media (min-width: 1440px) {
    text-align: left;
    padding: 47px 66px;
    padding-right: 443px;
  }
}

.promo__title br {
  //Desktop
  @media (min-width: 1440px) {
    display: block;
  }
}

.promo__review {
  margin-top: 30px;
  margin-bottom: 28px;
  padding-left: 25px;
  padding-right: 85px;

  //Tablet
  @media (min-width: 768px) {
    margin-bottom: 0;
    padding-left: 33px;
    padding-right: 364px;
    padding-bottom: 160px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding-right: 28px;
    padding-left: 66px;
    padding-bottom: 32px;
  }
}

.promo__review-author {

  //Tablet
  @media (min-width: 768px) {
    margin-top: 44px;
  }
}

.promo__contacts {
  display: grid;
  grid-template-columns: min-content auto;
  margin-top: 2px;

  //Tablet & Desktop
  @media (min-width: 768px) {
    display: none;
  }
}

.promo__steps {
  position: relative;
  list-style: none;
  margin: 0 25px;
  padding: 0;
  padding-bottom: 40px;

  //Tablet
  @media (min-width: 768px) {
    margin: 31px 40px 30px;
    padding: 0;
  }
  //Desktop
  @media (min-width: 1440px) {
    margin: 25px auto 106px;
    max-width: 1320px;
  }
}
