.range {
  position: relative;
}

.range__bar {
  height: 2px;
  background-color: #ae9a51;
  margin: auto;
  border-radius: 2px;
}

.range__bar-active {
  box-sizing: border-box;
  width: 138px;
  height: 2px;
  background-color: $basic-blue;
  margin-left: 73px;

  //Tablet
  @media (min-width: 768px) and (max-width: 1439px) {
    width: 191px;
    margin-left: 78px;
  }

  //Desktop
  @media (min-width: 1440px) {
    width: 118px;
  }
}

.range__toggle {
  position: absolute;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: $basic-blue;
  border-radius: 50%;
  cursor: pointer;


  &:focus {
    outline: none;
  }

  &:active {
    width: 19px;
    height: 19px;
    top: 4px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.24);
  }

  &--min {
    top: 19px;
    left: 67px;

    &:hover {
      width: 19px;
      height: 19px;
      top: 13px;
    }

    //Tablet
    @media (min-width: 768px) {
      width: 13px;
      height: 13px;
      top: 7px;
      left: 66px;

      &:hover {
        width: 19px;
        height: 19px;
        top: 5px;
      }
    }

    //Desktop
    @media (min-width: 1440px) {
      top: 21px;
      left: 62px;

      &:hover {
        width: 19px;
        height: 19px;
        top: 16px;
      }
    }
  }

  &--max {
    top: 19px;
    right: 0;

    &:hover {
      width: 19px;
      height: 19px;
      top: 13px;
    }

    //Tablet
    @media (min-width: 768px) {
      width: 13px;
      height: 13px;
      top: 7px;
      right: 0;

      &:hover {
        width: 19px;
        height: 19px;
        top: 5px;
      }
    }

    //Desktop
    @media (min-width: 1440px) {
      top: 20px;
      right: 0;

      &:hover {
        width: 19px;
        height: 19px;
        top: 16px;
      }
    }
  }
}
