.section-title {
  font-size: 24px;
  font-weight: 700;
  color: $special_orange;

  //Tablet & Desktop
  @media (min-width: 768px) {
    font-size: 45px;
  }

  &--form {
    color: $basic-blue;

    //Tablet & Desktop
    @media (min-width: 768px) {
      font-size: 36px;
    }
  }
}
