.site-navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;

  //Desktop
  @media (min-width: 1440px) {
    flex-direction: row;
    margin-left: -37px;
  }

  &--open {
    grid-column: 1 / 3;
    margin-top: 25px;

    //Tablet
    @media (min-width: 768px) {
      margin-top: 31px;
      padding: 0 57px;
    }

    //Desktop
    @media (min-width: 1440px) {
      grid-column: 2;
      flex-direction: row;
      margin: 0;
      margin-left: -37px;
    }
  }
}

.site-navigation__item {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;

  &--open {
    text-align: center;
    margin-bottom: 13px;
    font-size: 30px;
    color: $basic-blue-dark;

    //Tablet
    @media (min-width: 768px) {
      text-align: left;
      margin-bottom: 49px;
    }

    //Desktop
    @media (min-width: 1440px) {
      font-size: 20px;
      color: $white;
      margin: 0;
      margin-left: 29px;
      align-self: center;
    }
  }

  //Tablet
  @media (min-width: 768px) {
    font-size: 60px;
  }

  //Desktop
  @media (min-width: 1440px) {
    font-size: 20px;
  }
}

.page-header--scroll .site-navigation__item--open,
.page-header--scroll .site-navigation__link--open   {
  //Desktop
  @media (min-width: 1440px) {
    color: $basic-blue-dark;
  }
}

.site-navigation__link {
  display: inline-block;
  position: relative;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;

  //Desktop
  @media (min-width: 1440px) {
    overflow: hidden;
    padding: 0 4px;
    height: 1em;
  }

  span {
    //Desktop
    @media (min-width: 1440px) {
      position: relative;
      display: inline-block;
      transition: transform 0.3s;
    }


    &::before {
      //Desktop
      @media (min-width: 1440px) {
        position: absolute;
        top: 100%;
        content: attr(data-hover);
        color: #ffd74b;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &:hover {
    color: $basic-yellow;
    outline: none;

    span {
      transform: translateY(-100%);
    }
  }

  &--open {
    font-size: 30px;
    color: $basic-blue-dark;

    &:hover {
      color: $basic-blue-dark;
      opacity: 0.6;

      //Desktop
      @media (min-width: 1440px) {
        color: $basic-yellow;
        opacity: 1;
      }
    }

    //Tablet
    @media (min-width: 768px) {
      font-size: 60px;
    }

    //Desktop
    @media (min-width: 1440px) {
      font-size: 20px;
      color: $white;
      margin-top: 4px;
    }
  }

  &--open:active {
    color: $basic-blue-dark;
    opacity: 0.6;

    //Desktop
    @media (min-width: 1440px) {
      color: $basic-yellow;
      opacity: 0.3;
    }
  }
}
