.site-navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;

  //Desktop
  @media (min-width: 1440px) {
    flex-direction: row;
    margin-left: -37px;
  }

  &--scroll {
    grid-column: 1 / 3;
    margin-top: 25px;

    //Tablet
    @media (min-width: 768px) {
      margin-top: 30px;
      padding: 0 57px;
    }

    //Desktop
    @media (min-width: 1440px) {
      grid-column: 2;
      flex-direction: row;
      margin: 0;
      margin-left: -37px;
    }
  }
}

.site-navigation__item {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;

  &--scroll {
    text-align: center;
    margin-bottom: 9px;
    font-size: 30px;
    color: $basic-blue-dark;

    //Tablet
    @media (min-width: 768px) {
      text-align: left;
      margin-bottom: 37px;
    }

    //Desktop
    @media (min-width: 1440px) {
      font-size: 20px;
      color: $white;
      margin: 0;
      margin-left: 34px;
      align-self: center;
    }
  }

  //Tablet
  @media (min-width: 768px) {
    font-size: 60px;
  }

  //Desktop
  @media (min-width: 1440px) {
    font-size: 20px;
  }
}

.site-navigation__link {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;

  &:hover {
    color: $basic-yellow;
  }

  &--scroll {
    font-size: 30px;
    color: $basic-blue-dark;

    &:hover {
      color: $basic-blue-dark;
      opacity: 0.6;

      //Desktop
      @media (min-width: 1440px) {
        color: $basic-yellow;
        opacity: 1;
      }
    }

    //Tablet
    @media (min-width: 768px) {
      font-size: 60px;
    }

    //Desktop
    @media (min-width: 1440px) {
      font-size: 20px;
      color: $white;
    }
  }

  &--scroll-down {
    color: $basic-blue-dark;
    opacity: 0.6;

    //Desktop
    @media (min-width: 1440px) {
      color: $basic-yellow;
      opacity: 0.3;
    }

    &:hover {
      //Desktop
      @media (min-width: 1440px) {
        color: $basic-yellow;
        opacity: 0.3;
      }
    }
  }
}
