.steps-list {
  margin: 0;

  //Tablet
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.steps-list__item {
  padding: 25px;

  //Tablet
  @media (min-width: 768px) {
    width: 365px;
  }

  //Desktop
  @media (min-width: 1440px) {
    width: 280px;
  }

  &--1 {
    background-color: $special_orange;
  }

  &--2 {
    background-color: $special-yellow-extra-dark;
  }

  &--3 {
    background-color: $special-yellow-dark;
  }

  &--4 {
    background-color: $basic-yellow;
  }
}
