.subscription-form {
  position: relative;
}

.subscription-form__input {
  box-sizing: border-box;
  padding: 22px;
  height: 62px;
  width: 100%;
  border: none;
  border-radius: 15px;
}

.subscription-form__button {
  position: absolute;
  top: 0;
  right: 25px;
  padding: 23px;
}
