.subscription__title {
  margin-bottom: 20px;
}

.subscription__info {
  padding: 30px 55px;
  text-align: center;

  //Tablet
  @media (min-width: 768px) {
    padding: 76px;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding: 107px 130px;
  }
}

.subscription__teaser {
  margin: 0;
}

.subscription__form {
  padding: 0 25px;
}

.subscription__actions {
  list-style: none;
  padding: 0 auto;
  margin: 0;

  //Desktop
  @media (min-width: 1440px) {
    display: flex;
    justify-content: space-around;
  }
}

.subscription__link {
  color: $basic-yellow;
}
