.text {
  font-weight: 300;

  &--emphasis {
    font-weight: 700;

    //Tablet & Desktop
    @media (min-width: 768px) {
      font-size: 21px;
      line-height: 25px;
    }
  }

  &--blue {
    color: $basic-blue;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;

    //Tablet & Desktop
    @media (min-width: 768px) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &--black {
    color: $special-grey;
  }

  //Tablet & Desktop
  @media (min-width: 768px) {
    font-size: 28px;
    line-height: 33px;
  }

  &--form {
    //Tablet
    @media (min-width: 768px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
