.transport__title {
  font-weight: 700;
  text-transform: uppercase;

  //Tablet
  @media (min-width: 768px) {
    font-size: 20px;
  }

  &--form {
    //Tablet
    @media (min-width: 768px) {
      margin-left: 20px;
    }
  }
}

.transport__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: -2px;
  padding: 0;

  &--filter {
    justify-content: flex-start;
    margin: 0;
    margin-top: 15px;

    //Tablet
    @media (min-width: 768px) and (max-width: 1439px) {
      padding: 0;
      margin: 0;
    }
  }

  &--catalog {
    justify-content: flex-start;

    //Tablet
    @media (min-width: 768px) {
      flex-direction: column;
      align-items: flex-end;
    }

    //Desktop
    @media (min-width: 1440px) {
      flex-direction: row;
    }
  }

  &--form {
    min-height: 41px;
    border: 1px solid #cbced9;
    border-radius: 10px;
    padding: 10px 30px;
    padding-left: 26px;

    //Tablet
    @media (min-width: 768px) {
      margin: 0;
      padding: 26px 30px;
      padding-left: 26px;
    }

    //Desktop
    @media (min-width: 1440px) {
      padding: 20px 30px;
      padding-left: 36px;
    }
  }
}

.transport__item {
  margin: 0 7px;
  position: relative;
  cursor: pointer;

  &:hover::before {//Это всплывающие подсказки для транспорта
    z-index: 1;
    position: absolute;
    content: attr(data-tooltip);
    bottom: -70px;
    left: -57px;
    display: block;
    background-color: $basic-blue-dark;
    color: $white;
    text-align: center;
    font-size: 20px;
    padding: 16px 20px;
    border-radius: 4px;
  }

  &:hover::after {
    z-index: 1;
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom: 15px solid #161c35;
    bottom: -21px;
    left: 0;
  }

  &--catalog {
    padding: 4px 5px 0;
    background-color: $basic-blue-light;
    border-radius: 50px;
    margin: 0;
    margin-right: 2px;

    //Tablet
    @media (min-width: 768px) {
      background-color: transparent;
      margin-right: 7px;
    }

    //Desktop
    @media (min-width: 1440px) {
      margin-right: 3px;
    }
  }

  &--filter {
    margin: 0;
    padding: 7px 8px 0 6px;
    background-color: $white;
    border-radius: 50px;

    .transport__item-icon {
      fill: #616d8c;
      transform: scale(0.8);
      cursor: pointer;

      //Tablet
      @media (min-width: 768px) {
        transform: scale(1.1);
      }
    }

    &:hover {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);

      .transport__item-icon {
        fill: #b2b2b2;
      }
    }

    &:active {
      background-color: $light-blue;

      .transport__item-icon {
        fill: $basic-blue;
        opacity: 0.3;
      }
    }

    //Tablet
    @media (min-width: 768px) {
      margin: 0;
      margin-left: -5px;
      margin-right: 5px;
      padding: 11px 12px 6px;
    }

    //Desktop
    @media (min-width: 1440px) {
      padding: 11px 12px 6px;
      margin-right: -6px;
    }
  }

  &--form {
    margin: 6px 0 4px;
    padding: 7px 8px 0 6px;
    border-radius: 50px;
    background-color: $white;

    .transport__item-icon {
      fill: #616d8c;
      transform: scale(0.8);
      cursor: pointer;

      //Tablet
      @media (min-width: 768px) {
        transform: scale(1.1);
      }
    }

    &:hover {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);

      .transport__item-icon {
        fill: #b2b2b2;
      }
    }

    &:active {
      background-color: $light-blue;

      .transport__item-icon {
        fill: $basic-blue;
        opacity: 0.3;
      }
    }

    //Tablet
    @media (min-width: 768px) and (max-width: 1439px) {
      margin: 0;
      padding: 11px 12px 6px;
    }

    //Desktop
    @media (min-width: 1440px) {
      padding: 12px 12px 6px;
    }
  }

  .transport__icon {
    fill: $basic-blue;

    &--down {
      opacity: 0.15;
    }
  }
}

//Это состояния для чекбоксов (активных)
.transport__item-checkbox:checked + label {
  .transport__item-icon {
    fill: $basic-blue;
  }

  &:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);

    .transport__item-icon {
      opacity: 0.7;
    }
  }

  &:active {
    background-color: $light-blue;

    .transport__item-icon {
      fill: $basic-blue;
      opacity: 0.5;
    }
  }
}

.transport__item--run .transport__icon {
  transform: scale(1.2);
}

.transport__item--bicycle .transport__icon {
  transform: scale(1.1);
}

.transport__list--catalog .transport__icon {
  transform: scale(0.7);

  //Tablet
  @media (min-width: 768px) {
    transform: scale(1);
  }
}
