.user-profile__button {
  border: none;
  border-radius: 25px;
  background-color: $special-blue-light;
  padding: 12px;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

.user-profile__hashtag {
  box-sizing: border-box;
  padding: 25px;
  width: 100%;
  height: 90px;
  background-color:  $basic-blue-light;
  color: $special-grey;
  opacity: 0.6;
}
