.user-card {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 428px;
  margin: 0;
  background-color: $white;
  border-radius: 12px;

  //Tablet & Desktop
  @media (min-width: 768px) {
    min-height: 485px;
    width: 285px;
    border-radius: 20px;
  }

  &--catalog {
    position: relative;
    min-height: 390px;
    width: 270px;
    box-sizing: border-box;
    padding: 18px 16px 23px;
    display: grid;
    grid-template-columns: max-content 1fr;
    border-radius: 20px;

    //Tablet
    @media (min-width: 768px) {
      grid-template-columns: max-content max-content max-content 1fr;
      grid-column-gap: 25px;
      grid-row-gap: 19px;
      min-height: 333px;
      width: 687px;
      padding: 35px;
    }

    //Desktop
    @media (min-width: 1440px) {
      grid-template-columns: 285px 1fr 1fr;
      grid-column-gap: 53px;
      min-height: 285px;
      width: 950px;
      padding: 0;
      justify-self: baseline;
    }
  }
}

.user-card__info {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px 45px;

  //Tablet & Desktop
  @media (min-width: 768px) {
    padding: 24px 30px;
  }
}


.user-card__likes {
  position: absolute;
  top: 42px;
  left: 51px;
  padding: 15px;

  .user-card__likes-button {
    cursor: pointer;
    padding: 10px 10px 7px;
    border-radius: 50px;
    background-color: $basic-blue-light;
    border: none;

    //Tablet
    @media (min-width: 768px) {
      padding: 19px 19px 16px;
    }

    &:hover {
      background-color: $light-blue;

      .user-card__likes-icon {
        fill: $basic-blue-dark;
        opacity: 0.6;
      }
    }

    &:active {
      .user-card__likes-icon {
        fill: $basic-blue-dark;
        opacity: 0.3;
      }
    }
  }

  .user-card__likes-icon {
    fill: #7e839b;
    cursor: pointer;

    //Tablet
    @media (min-width: 768px) {
      transform: scale(1.6);
    }
  }

  &--active {
    .user-card__likes-button {
      padding: 10px 10px 7px;
      border-radius: 50px;
      background-color: #f9eaea;
      position: relative;

      //Tablet
      @media (min-width: 768px) {
        padding: 19px 19px 16px;
      }

      &:hover {
        background-color: #f9d8d8;

        .user-card__likes-icon {
          fill: $special-red;
          opacity: 1;
        }
      }

      &:active {
        .user-card__likes-icon {
          fill: $special-red;
          opacity: 0.6;
        }
      }
    }

    .user-card__likes-icon {
      fill: $special-red;

      //Tablet
      @media (min-width: 768px) {
        transform: scale(1.6);
      }
    }
  }

  span {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $basic-blue-dark;

    //Tablet
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  //Tablet
  @media (min-width: 768px) {
    position: relative;
    grid-column: 2;
    grid-row: 1;
    top: 124px;
    left: 141px;
  }

  //Desktop
  @media (min-width: 1440px) {
    top: 175px;
    left: 137px;
  }
}

.user-card__pic {
  border-radius: 12px 12px 0 0;
  margin-top: -1px;
  object-fit: cover;
  width: 100%;

  //Tablet
  @media (min-width: 768px) {
    margin-top: -30px;
    border-radius: 20px 20px 0 0;
  }

  &--catalog {
    grid-column: 1;
    grid-row: 1;
    border-radius: 100px;
    width: 70px;
    height: 70px;

    //Tablet
    @media (min-width: 768px) {
      grid-column: 1;
      width: 190px;
      height: 190px;
      border-radius: 20px;
      margin: 0;
    }

    //Desktop
    @media (min-width: 1440px) {
      width: 285px;
      height: 285px;
      border-radius: 20px 0 0 20px;
    }
  }
}

.user-card__name {
  position: relative;
  font-size: 21px;
  font-weight: 700;
  color: $basic-blue-dark;
  margin: 0 auto;
  margin-top: -15px;


  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 6px;
    left: -16px;
    right: 132px;
    height: 6px;
    width: 6px;
    border-radius: 10px;
    background-color: #f97676;
  }

  &--online {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 6px;
      left: -16px;
      right: 132px;
      height: 6px;
      width: 6px;
      border-radius: 10px;
      background-color: #81e31e;
    }
  }

  //Tablet
  @media (min-width: 768px) {
    font-size: 24px;
    margin-top: -11px;
    margin-left: 38px;
  }

  //Destop
  @media (min-width: 1440px) {
    margin-top: -15px;
  }

  &--catalog {
    position: relative;
    margin-left: -47px;
    margin-top: -4px;
    grid-column: 2;
    grid-row: 1;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 10px;
      left: 138px;
      right: 132px;
      height: 6px;
      width: 6px;
      border-radius: 10px;
      background-color: #f97676;

      //Tablet & Desktop
      @media (min-width: 768px) {
        top: 6px;
        left: 211px;
        height: 7px;
        width: 7px;
      }

      //Desktop
      @media (min-width: 1440px) {
        left: -25px;
      }
    }

    //Tablet
    @media (min-width: 768px) {
      grid-column: 2 / 4;
      grid-row: 1;
      margin-top: 3px;
      margin-left: 7px;
      font-size: 30px;

      br {
        display: none;
      }
    }

    //Desktop
    @media (min-width: 1440px) {
      grid-column: 2;
      margin-top: 51px;
      margin-left: 9px;
    }
  }

  &--catalog-online {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 10px;
      left: 138px;
      right: 132px;
      height: 6px;
      width: 6px;
      border-radius: 10px;
      background-color: #81e31e;

      //Tablet & Desktop
      @media (min-width: 768px) {
        top: 3px;
        left: 245px;
        height: 7px;
        width: 7px;
      }

      //Desktop
      @media (min-width: 1440px) {
        top: 3px;
        left: -25px;
      }
    }
  }
}

.user-card__hashtag {
  color: $special-grey;
  text-align: center;
  max-width: 223px;
  margin: 15px auto 17px;
  line-height: 18px;

  //Tablet & Desktop
  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 23px;
    margin-top: 25px;
    margin-bottom: 16px;
  }

  &--catalog {
    margin-top: 12px;
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 15px;
    text-align: left;
    grid-column: 1 / 3;
    grid-row: 2;

    //Tablet
    @media (min-width: 768px) {
      grid-column: 2 / 4;
      grid-row: 1;
      margin: 0;
      margin-top: 48px;
      font-size: 20px;
      line-height: 23px;
      justify-self: center;
    }

    //Desktop
    @media (min-width: 1440px) {
      grid-column: 2;
      margin-top: 98px;
      justify-self: baseline;
    }
  }
}

.user-card__transport {
  color: $special-grey;
  margin-bottom: -8px;

  //Tablet & Desktop
  @media (min-width: 768px) {
    margin-bottom: -25px;
    margin-top: 10px;
  }

  &--catalog {
    padding-left: 10px;
    grid-column: 1;
    grid-row: 4;

    //Tablet
    @media (min-width: 768px) {
      grid-column: 4;
      grid-row: 1;
      margin: 0;
    }

    //Desktop
    @media (min-width: 1440px) {
      grid-column: 3;
      align-self: end;
      margin-left: -9px;
      margin-bottom: 58px;
    }
  }
}

.user-card__transport-title {
  &--catalog {
    position: relative;
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 15px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 11px;
      left: -27px;
      right: 132px;
      height: 1px;
      background-color: $special-blue-light;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 11px;
      left: 76px;
      right: -122px;
      height: 1px;
      background-color: $special-blue-light;
    }

    //Tablet
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.user-card__countries {
  color: $special-grey;
  order: -1;
  margin-top: -58px;
  margin-bottom: 5px;

  //Tablet
  @media (min-width: 768px) {
    margin-top: -88px;
  }

  &--catalog {
    margin: 0;
    padding-left: 10px;
    grid-column: 1 / 3;
    grid-row: 3;

    //Tablet
    @media (min-width: 768px) {
      grid-column: 1 / 5;
      grid-row: 3;
      margin-top: -16px;
    }

    //Desktop
    @media (min-width: 1440px) {
      grid-column: 3;
      grid-row: 1;
    }
  }
}

.user-card__countries-title {
  &--catalog {
    position: relative;
    margin: 0;
    font-size: 15px;
    font-weight: 400;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 10px;
      left: -28px;
      right: 240px;
      height: 1px;
      background-color: $special-blue-light;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 10px;
      left: 106px;
      right: -16px;
      height: 1px;
      background-color: $special-blue-light;
    }

    //Tablet
    @media (min-width: 768px) {
      margin-left: 40px;

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 10px;
        left: -86px;
        right: 579px;
        height: 1px;
        background-color: $special-blue-light;
      }

      &::after {
        content: "";
        position: absolute;
        display: block;
        top: 10px;
        left: 106px;
        right: -36px;
        height: 1px;
        background-color: $special-blue-light;
      }
    }

    //Desktop
    @media (min-width: 1440px) {
      display: none;
    }
  }
}

.user-card__countries-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;

  &--catalog {
    display: block;
    margin: 16px 0 7px;

    //Tablet
    @media (min-width: 768px) {
      display: flex;
      justify-content: flex-start;
      margin-bottom: -15px;
    }

    //Desktop
    @media (min-width: 1440px) {
      flex-direction: column;
      margin: 0;
      margin-top: 70px;
    }
  }
}

.user-card__countries-list--catalog .user-card__countries-item {
  //Tablet
  @media (min-width: 768px) {
    margin-right: 37px;
  }
}

//Это для 3 карточки, иначе не сходится по PP
.user-card:nth-of-type(3) {
  padding-bottom: 14px;

  //Desktop
  @media (min-width: 1440px) {
    padding: 0;
  }

  .user-card__hashtag--catalog {
    margin-top: 14px;

    //Tablet
    @media (min-width: 768px) {
      margin-top: 47px;
    }

    //Desktop
    @media (min-width: 1440px) {
      margin-top: 96px;
    }
  }

  .user-card__countries-list--catalog {
    margin: 16px 0 8px;

    //Desktop
    @media (min-width: 1440px) {
      margin-top: 67px;
    }
  }

  .user-card__button {
    margin-top: 37px;

    //Tablet
    @media (min-width: 768px) {
      margin-top: 138px;
    }
  }

  .user-card__likes {
    //Tablet
    @media (min-width: 768px) {
      top: 125px;
    }

    //Desktop
    @media (min-width: 1440px) {
      top: 173px;
      left: 136px;
    }
  }
}

//Для 4-ой
.user-card:nth-of-type(4) {
  .user-card__countries-list--catalog {
    margin-top: 15px;
    margin-bottom: 13px;

    //Tablet
    @media (min-width: 768px) {
      margin: 16px 0 -16px;
    }

    //Desktop
    @media (min-width: 1440px) {
      margin-top: 67px;
    }
  }

  .user-card__countries-title--catalog {
    //Tablet
    @media (min-width: 768px) {
      margin-top: -10px;
    }
  }

  .user-card__hashtag--catalog {
    margin-top: 14px;

    //Tablet
    @media (min-width: 768px) {
      margin-top: 45px;
    }

    //Desktop
    @media (min-width: 1440px) {
      margin-top: 94px;
    }
  }

  .user-card__likes {
    //Tablet
    @media (min-width: 768px) {
      top: 124px;
    }

    //Desktop
    @media (min-width: 1440px) {
      top: 175px;
      left: 136px;
    }
  }
}

.user-card__countries-item {
  display: flex;
  margin-bottom: 5px;

  //Desktop
  @media (min-width: 1440px) {
    margin-bottom: 14px;
  }
}

.user-card__country-name {
  display: none;

  &--catalog {
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 15px;

    //Tablet
    @media (min-width: 768px) {
      font-size: 20px;
    }

    //Desktop
    @media (min-width: 1440px) {
      margin-left: 26px;
    }
  }
}

.user-card__button {
  grid-column: 1 / 3;
  margin-top: 30px;

  //Tablet
  @media (min-width: 768px) {
    grid-column: 2 / 4;
    justify-self: flex-start;
    grid-row: 1;
    align-self: center;
    margin-top: 135px;
  }

  //Desktop
  @media (min-width: 1440px) {
    margin-top: 142px;
  }
}

.user-card__link {
  text-decoration: none;
  align-self: flex-start;
}
