.users {
  position: relative;
  z-index: 4;
  background-color: $basic-blue-medium;
  margin-top: -17px;
  border-radius: 0 0 30px 30px;

  &--catalog {
    background-color: $basic-blue-light;

    //Desktop
    @media (min-width: 1440px) {
      margin: 0;
    }

    //Desktop
    @media (min-width: 1440px) {
      grid-template-columns: auto;
      grid-column: 1;
      grid-row: 1 / span 2;
    }
  }

  //Tablet
  @media (min-width: 768px) {
    border-radius: 0 0 60px 60px;
  }
}

.users__info {
  display: grid;
  grid-gap: 10px;
  margin: auto;
  padding: 85px 25px 28px;

  //Tablet
  @media (min-width: 768px) {
    padding: 183px 73px 87px;
    grid-gap: 12px;
  }
  //Desktop
  @media (min-width: 1440px) {
    grid-gap: 15px;
    grid-template-columns: auto auto;
    column-gap: 150px;
    padding: 157px 60px 133px 130px;
  }
}

.users__info-main {
  margin-bottom: 23px;

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    top: 336px;
    left: -10px;
    width: 73px;
    height: 71px;
    background-image: url("../img/rogovaya-back-mobile@1x.png");
    background-repeat: no-repeat;
    border-radius: 12px;

    //Tablet
    @media (min-width: 768px) {
      top: 107px;
      left: 409px;
      width: 285px;
      height: 285px;
      background-image: url("../img/rogovaya-back-desktop@1x.png");
    }

    //Desktop
    @media (min-width: 1440px) {
      top: 416px;
      left: 190px;
    }
  }
  //Tablet
  @media (min-width: 768px) {
    margin: 0;
    padding-right: 150px;
  }
  //Desktop
  @media (min-width: 1440px) {
    margin-top: 15px;
    padding: 0;
  }
}

.users__title {
  position: relative;
  margin: 0;
  margin-bottom: 22px;
  padding-left: 25px;

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    top: -36px;
    left: -44px;
    width: 132px;
    height: 132px;
    background-color: #141b3b;
    border-radius: 12px;

    //Tablet
    @media (min-width: 768px) {
      top: -83px;
      left: -33px;
      width: 212px;
      height: 212px;
    }

    //Desktop
    @media (min-width: 1440px) {
      top: -69px;
      left: -69px;
    }
  }

  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    top: -34px;
    right: 0;
    width: 143px;
    height: 132px;
    background-image: url("../img/smolov-back-desktop@1x.png");
    background-repeat: no-repeat;
    border-radius: 12px;

    //Tablet
    @media (min-width: 768px) {
      top: 270px;
      left: -33px;
    }

    //Desktop
    @media (min-width: 1440px) {
      top: -8px;
      left: 417px;
    }
  }

  //Tablet & Desktop
  @media (min-width: 768px) {
    margin-bottom: 66px;
    padding-left: 0;
  }
}

.users__teaser {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-right: 30px;

  //Tablet & Desktop
  @media (min-width: 768px) {
    margin-bottom: 40px;
    padding-left: 0;
  }

  //Desktop
  @media (min-width: 1440px) {
    padding: 0;
  }
}

.users__teaser br {
  display: none;

  //Tablet & Desktop
  @media (min-width: 768px) {
    display: block;
  }
}

.users__list {
  display: grid;
  grid-gap: 8px;

  //Tablet
  @media (min-width: 768px) {
    margin-top: 7px;
    grid-gap: 50px;
    grid-template-columns: auto auto;
  }

  //Desktop
  @media (min-width: 1440px) {
    grid-column: 2;
    grid-row: 1 / span 2;
    grid-gap: 60px;
  }

  &--catalog {
    grid-gap: 10px;
    padding: 25px 25px 18px;
    justify-items: center;

    //Tablet
    @media (min-width: 768px) {
      margin-top: 13px;
      grid-template-columns: auto;
      grid-gap: 39px;
    }

    //Desktop
    @media (min-width: 1440px) {
      grid-column: 1;
      grid-row: 1 / span 2;
      margin-top: 18px;
      padding: 0;
      grid-gap: 32px;
    }
  }
}

.users__to-all {
  display: inline-block;
  width: 100%;
  margin-top: 11px;

  //Tablet
  @media (min-width: 768px) {
    margin-top: 67px;
  }

  //Desktop
  @media (min-width: 1440px) {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-self: start;
    width: 280px;
    margin: 0;
    margin-bottom: -10px;
  }
}

.users__link {
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  color: $basic-blue;
  margin-left: 30px;
  padding: 10px 15px;
  margin-top: -5px;

  &:hover {
    &::before,
    &::after {
      opacity: 0.6;
    }
  }

  &--down {
    &::before,
    &::after {
      opacity: 0.3;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 55px;
    width: 18px;
    height: 2px;
    background-color: $basic-blue;
    transform: rotate(90deg);

    //Tablet
    @media (min-width: 768px) {
      top: 37px;
      left: 246px;
      width: 25px;
    }

    //Desktop
    @media (min-width: 1440px) {
      top: 71px;
      left: 411px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 55px;
    width: 18px;
    height: 2px;
    background-color: $basic-blue;
    transform: rotate(180deg);

    //Tablet
    @media (min-width: 768px) {
      top: 37px;
      left: 246px;
      width: 25px;
    }

    //Desktop
    @media (min-width: 1440px) {
      top: 71px;
      left: 411px;
    }
  }

  //Tablet
  @media (min-width: 768px) {
    font-size: 20px;
    margin: 0;
    margin-left: 43px;
    padding: 29px 15px;
  }

  //Desktop
  @media (min-width: 1440px) {
    margin-left: -64px;
    padding: 63px 15px;
  }
}

.users__toggles {
  margin: 8px auto;
  padding: 25px;
}
