//Colors
$basic-blue-dark: #161C35;
$basic-blue: #1D2E5B;
$basic-blue-light:  #EDEFF6;
$basic-yellow: #FFD74B;
$special-yellow-dark: #FFBD30;
$special-yellow-extra-dark: #FFA530;
$special_orange: #FF8D30;
$special-blue-light: #DFE3F0;
$special-grey: #444444;
$special-red: #F47E7E;
$white: #FFFFFF;
$black: #000000;
