//Colors
$basic-blue-dark: #161c35;
$basic-blue-medium: #192144;
$basic-blue: #1d2e5b;
$basic-blue-light: #edeff6;
$basic-blue-medium-light: #e2e5f2;
$basic-yellow: #ffd74b;
$special-yellow-dark: #ffbd30;
$special-yellow-extra-dark: #ffa530;
$special_orange: #ff8d30;
$special-blue-light: #dfe3f0;
$special-blue-medium:#d4d9eb;
$special-grey: #444444;
$special-grey-light: #cbced9;
$special-red: #ff5c23;
$white: #ffffff;
$black: #000000;
$grey: #b3b3b3;
$light-blue: #e2e5f2;
